// COLORS
$moderate-violet: #7541c8;
$very-dark-greyish-blue: #48556a;
$very-dark-blackish-blue: #19212e;
$white: #fff;
$light-grey: #cfcfcf;
$light-greyish-blue: #ecf2f8;

// GRID
$grid-row-gap: 2rem;
$grid-column-gap: 2rem;

// FONT